Makefile
Makefile.in
.deps
*.rc
goblin-doom
goblin-heretic
goblin-hexen
goblin-server
goblin-strife
goblin-doom-setup
goblin-heretic-setup
goblin-hexen-setup
goblin-strife-setup
goblin-setup
*.cfg
*.exe
*.desktop
*.txt
!CMakeLists.txt
*.metainfo.xml
tags
TAGS
